# ignore .ini.php (should commit *.ini.php.dist)
*.ini.php

# ignore some directories except .htaccess
/cache/*
!/cache/.htaccess

/data/*
!/data/.htaccess

/itemimage/*
/itemimage-*/*
!/itemimage/.htaccess


# for development
test.php
