/* 全体 */
body {
  width: 650px;
}

/* ヘッダのメニュー部分 */
.menu:after {
  clear: both;
}

.menuicon {
  float: left;
  overflow: hidden;
  border: solid #04a 3px;
  width: 150px;
  height: 120px;
  background-color: #08f;
  padding-top: 10px;
  margin-left: 2px;
  text-align: center;
}

.menulink {
  color: white;
  text-decoration: none;
}


/* 何か通知がある場合に表示されるエリア */
.messagetext {
  width: 100%;
  height: 2em;
  background-color: #fdd;
}


/* 所持品一覧を表示するエリア */
.subTitleText {
  font-weight: bold;
}

.detailText {
  font-size: smaller;
}

.itemImageArea {
  float:left;
  width: 150px;
  overflow: hidden;
  padding-top: 10px;
}

.itemDetailArea {
  float: left;
  width: 490px;
}

.deleteIconArea {
  float: right;
}

.amazonLinkArea {
  float: right;
  margin-left: 1em;
}

.placeArea {
  display: inline;
}

.stateArea {
  display: inline;
}


/* 各ページへのリンクを表示するエリア */
.pageLink {
  background: #ddd;
  font-size: large;
}

.activePageLink {
  background: #fcc;
  font-size: large;
}


/* フィルタを表示するエリア */

.filterFormArea {
  display: inline;
}

