/* 全体 */
body {
  width: 800px;
}

/* ヘッダのメニュー部分 */
.menu:after {
  clear: both;
}

.menuicon {
  float: left;
  overflow: hidden;
  border: solid #04a 3px;
  width: 150px;
  height: 120px;
  background-color: #08f;
  padding-top: 10px;
  margin-left: 2px;
  text-align: center;
}

.menulink {
  color: white;
  text-decoration: none;
}


/* 何か通知がある場合に表示されるエリア */
.messagetext {
  font-size: small;
  width: 100%;
  background-color: #fdd;
  border: 1px solid;
  border-color: black;
}


/* 所持品一覧を表示するエリア */
.detailText {
  font-size: smaller;
}

.itemImageArea {
  float:left;
  width: 150px;
  overflow: hidden;
  padding-top: 10px;
}

.detailImage {
  max-width: 120px;
}

.itemDetailArea {
  float: left;
  width: 640px;
}

.deleteIconArea {
  float: right;
}

.deleteIconImage {
  height: 1.2em;
}

.amazonLinkArea {
  float: right;
  margin-left: 1em;
}

.placeArea {
  display: inline;
}

.stateArea {
  display: inline;
}

.memoArea {
  display: inline;
}

.tagTextArea {
  font-size: small;
  background-color: #aee;
}

.tagTextLink {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.tagDeleteArea {
  display: inline;
}

.tagDeleteImage {
  height: 1em;
  vertical-align: middle;
}

.tagAddForm {
  display: inline;
  vertical-align: middle;
}

.tagAddFormSelect {
  font-size: small;
  background-color: #aee;
  vertical-align: middle;
}


/* 各ページへのリンクを表示するエリア */
.navigationArea {
  text-align: center;
  background: #ddf;
  font-weight: bold;
}

.pageLink {
  background: #abe;
  font-size: large;
  padding-left: 0.2em;
  padding-right: 0.2em;
}

.activePageLink {
  background: #fcc;
  font-size: large;
  padding-left: 0.2em;
  padding-right: 0.2em;
}


/* タグ・保管場所・未読既読状態のタイトルを表示するエリア */
.categoryTitle {
  font-size: x-large;
  font-weight: bold;
  background: #ddd;
  padding-left: 1em;
  padding-top: 0.3em;
  padding-bottom: 0.1em;
  margin-bottom: 0.3em;
}

.categoryNavi {
  float: right;
  margin-right: 1em;
}

.categoryNavi A {
  text-decoration: none;
}

/* footer */
.footer {
  background-color: #28f;
  color: white;
  font-size: x-small;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  padding-left: 1em;
  padding-right: 1em;
  text-align: right;
}

.footer A {
  color: white;
}
