/* 全体 */
body {
  width: 650px;
}

/* ヘッダのメニュー部分 */
.menu:after {
  clear: both;
}

.menuicon {
  float: left;
  overflow: hidden;
  border: solid #04a 3px;
  width: 150px;
  height: 120px;
  background-color: #08f;
  padding-top: 10px;
  margin-left: 2px;
  text-align: center;
}

.menulink {
  color: white;
  text-decoration: none;
}


/* 何か通知がある場合に表示されるエリア */
.messagetext {
  font-size: small;
  width: 100%;
  background-color: #fdd;
  border: 1px solid;
  border-color: black;
}


/* 所持品一覧を表示するエリア */
.subTitleText {
  font-weight: bold;
}

.detailText {
  font-size: smaller;
}

.itemImageArea {
  float:left;
  width: 150px;
  overflow: hidden;
  padding-top: 10px;
}

.itemDetailArea {
  float: left;
  width: 490px;
}

.deleteIconArea {
  float: right;
}

.deleteIconImage {
  height: 1.2em;
}

.amazonLinkArea {
  float: right;
  margin-left: 1em;
}

.placeArea {
  display: inline;
}

.stateArea {
  display: inline;
}

.tagTextArea {
  font-size: small;
  background-color: #aee;
}

.tagTextLink {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.tagDeleteArea {
  display: inline;
}

.tagDeleteImage {
  height: 1em;
  vertical-align: middle;
}

.tagAddForm {
  display: inline;
  vertical-align: middle;
}

.tagAddFormSelect {
  font-size: small;
  background-color: #aee;
  vertical-align: middle;
}


/* 各ページへのリンクを表示するエリア */
.pageLink {
  background: #ddd;
  font-size: large;
}

.activePageLink {
  background: #fcc;
  font-size: large;
}


/* フィルタを表示するエリア */

.filterFormArea {
  display: inline;
}


/* 保管場所・未読既読状態のタイトルを表示するエリア */
.categoryTitle {
    font-size: x-large;
    background: #ddd;
    padding-left: 1em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}